html body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: Lato;
    src: url(../assets/data/fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: Marion-Regular;
    src: url(../assets/data/fonts/marion-regular/Marion-Regular.ttf);
}

.navbar {
    background-color: #e9e8e6;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

.navbar-row {
    width: 100%;
}

.navbar__brand {
    font-family: Marion-Regular, serif, sans-serif;
}

.navbar__brand--link {
    text-decoration: none;
    color: #675f5d;
}

.navbar__brand--link:hover {
    color: #675f5d;
}

.nav-link {
    font-weight: bold;
}

.navbar-toggler-icon {
    width: 25px;
}

.navbar-toggler-icon:hover {
    color: white;
}

.form-control {
    width: 70%;
    min-width: 10px;
    background-color: #e9e8e6;
    border: none;
    border-radius: 0%;
    border-bottom: solid 1px #675f5d;
}

.form-control:focus{
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px #675f5d;
}

@media (max-width: 600px) {
    .form-control {
        display: none;
    }
    .btn-search {
        display: none;
    }
  }

.btn-search {
    font-family: Lato, serif, sans-serif;
    background-color: #e9e8e6;
    font-size: 0.7em;
    font-weight: bold;
    color: #675f5d;
    width: auto;
}

.home__sections{
    min-height: 600px;
}

.home__sections--cuadros {
    background-image: url("../assets/backgorund-img/home-cuadros.JPG");
    background-position: center; 
    background-size: cover;
    border: solid 0.7rem white;
}

.home__sections--deco {
    background-image: url("../assets/backgorund-img/home-deco.jpg");
    background-position: center; 
    background-size: cover; 
    border: solid 0.7rem white;         
}

.home__sections--cases {
    background-image: url("../assets/backgorund-img/home-cases.jpg");
    background-position: center; 
    background-size: cover;
    border: solid 0.7rem white;      
}

.home__sections a {
    text-align: center;
    text-decoration: none;
    font-size: 2.3em;
    font-family: Lato, serif, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}



