body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)),
        url(../assets/backgorund-img/index_body_backgorund.JPG);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Lato-Medium;
    src: url(../assets/data/fonts/lato/Lato-Medium.ttf);
}

@font-face {
    font-family: Marion-Regular;
    src: url(../assets/data/fonts/marion-regular/Marion-Regular.ttf);
}

.col {
    padding: 0%;
}

.index__main {
    height: 100vh;
}

.index__main--title {
    height: 40%;
    align-content: center;
    text-align: center;
    font-size: 0.8em;
}

.index__main--title h1 {
    display: inline-block;
    border: solid 1px #FFFFFF;
    padding: 30px;
    color: #FFFFFF;  
    font-size: 3.0em;
    font-family: Marion-Regular, serif, sans-serif;
    font-weight: lighter;
}

a:hover {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.0em;
    font-family: Lato-Medium, serif, sans-serif;
}

.index__main__link--aling {
    text-align: center;
}


.index__main__link--bordertop {
    border-top: solid 2px #FFFFFF;
    padding-top: 10px;
}
.index__main__link--borderbottom {
    border-bottom: solid 2px #FFFFFF;
    padding-bottom: 10px;
}

.index__main__link--space {
    height: 5%;
}

.index__main--space {
    height: 27%;
}