html body {
    margin: 0%;
    padding: 0%;
    background-color: #e9e8e6;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: Lato;
    src: url(../assets/data/fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: Marion-Regular;
    src: url(../assets/data/fonts/marion-regular/Marion-Regular.ttf);
}

.container {
    padding: 0%;
}

.background-color-navbar {
    background-color: #d9ab9e;
    width: 100%;
}

.navbar-cuadros-background {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(../assets/backgorund-img/products_navbar_background.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

.navbar-cases-background {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(../assets/products/fundas/fundas-biodegradables/funda-biodegradable-3.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

.navbar-deco-background {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(../assets/backgorund-img/home-deco.jpg);
    background-repeat: no-repeat;
    background-position-y: center; 
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

.container-fluid {
    width: 100%;
}

.navbar-row {
    width: 100%;
}

.navbar-brand {
    color: #ffffff;
    font-family: Marion-Regular;
    margin-right: auto;
    margin-left:  auto;
}

.navbar__title {
    margin-right: auto;
    margin-left: auto;
}

.navbar-toggler-icon{
    width: 25px;
}

.navbar__title h3 {
    font-family: Lato;
    font-weight: bold;
    color: #151616;
}

.text-black {
    font-weight: bold;
}

.form-control {
    width: 70%;
    min-width: 25px;
    background-color: rgb(255, 255, 255, 0.1);
    border: none;
    border-radius: 0%;
    border-bottom: solid 1px #675f5d;
}

.form-control:focus{
    background-color: rgb(255, 255, 255, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 1px #675f5d;
}

@media (max-width: 600px) {
    .form-control {
        display: none;
    }
    .btn-search {
        display: none;
    }
  }

.products__categories {
    min-height: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin: 2%;
    box-sizing: border-box;
}



.products__categories__row {
    max-height: 300px;
    max-width: 300px;
    margin: 5px;
}
